@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

img {
  max-width: 100%;
}
.all {
  flex-grow: 1;
  position: relative;
}
.logo {
  pointer-events: none;
}
.header {
  background-color: #213b7e;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: calc(50% - 1268px / 2);
  padding-right: calc(50% - 1268px / 2);
  font-family: "Roboto", sans-serif;
  position: relative;
}
.menu {
  list-style-type: none;
  display: flex;
}

.menu__link {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  text-underline-offset: 3px;
  color: #ffffff;
  padding: 28px 18px;
  display: block;
  transition: border-radius 0.3s linear;
}
.menu__link:hover {
  border-radius: 15px;
  text-decoration: underline #cf5510;
}

.menu__link_active {
  color: #213b7e;
  font-weight: 400;
  background-color: white;
  text-decoration: none;
}
.button {
  width: 153px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background-color: #ea5d21;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.button:hover {
  box-shadow: 3px 3px 3px rgb(31, 31, 48);
}
.button:active {
  box-shadow: 0 0 1px 0 darkblue;
  margin-top: 2px;
}
.title {
  margin-top: 33px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
.subtitle {
  font-size: 25px;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: calc(50% - 911px / 2);
  margin-right: calc(50% - 911px / 2);
}
.content-section {
  width: 634px;
}

.content-info {
  display: flex;
}
.content-article {
  margin-bottom: 10px;
}

.about-text {
  margin-top: 15px;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.orange-text {
  color: #cf5510;
  font-style: italic;
}
.heading {
  font-family: "Lobster", cursive;
  display: block;
  font-weight: normal;
  font-size: 36px;
  font-family: Lobster;
  color: #646464;
  width: 129px;
  padding-top: 44px;
  padding-left: 94px;
  text-align: center;
}
.footer {
  background-color: #213b7e;
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-top: 32px;
}
.footer-text {
  color: #ffffff;
  text-align: center;
  opacity: 0.5;
  font-family: "Roboto", sans-serif;
}
.footer-link {
  color: inherit;
}
.footer-link:visited {
  color: rgba(158, 108, 158, 0.418);
}

/* Students */

.content-students {
  margin-left: calc(50% - 1202px / 2);
  margin-right: calc(50% - 1202px / 2);
  margin-top: 37px;
}
.students {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.student {
  width: 200px;
  position: relative;
  transition: box-shadow 0.3s linear;
}
.student:hover {
  box-shadow: 4px 4px 4px rgb(156, 207, 223);
}
.student:nth-child(odd):hover {
  box-shadow: 4px 4px 4px #ea5d217e;
}
.new::before {
  content: 'Новичок';
  box-sizing: border-box;
  width: 94px;
  height: 24px;
  position: absolute;
  top: -12px;
  right: -12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  background: #3aa828;
  border-radius: 20px;
  padding: 2px 4px;
  text-transform: uppercase;
}
.student-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  margin-top: 8px;
}
/* Contacts */
.content-contacts {
  margin-left: calc(50% - 1268px / 2);
  margin-right: calc(50% - 1268px / 2);
}
.title-contacts {
  margin-top: 33px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.address {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-top: 15px;
}
.phone {
  display: block;
  color: inherit;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  margin-top: 20px;
}
.content__item {
  margin-left: 200px;
}

/* About */

.content-about {
  margin-left: calc(50% - 820px / 2);
  margin-right: calc(50% - 820px / 2);
}

.text-about {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
}

/* Modal Popup window */

.modal {
  width: 500px;
  height: 418px;
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 15%);
  border: #000000 1px solid;
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.modal-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.subtitle-modal {
  margin: 26px 0 36px 0;
}
.input {
  width: 444px;
  height: 55px;
  font-size: 24px;
  font-family: Roboto;
  padding-left: 14px;
  box-sizing: border-box;
  margin-bottom: 56px;
}
.input:focus {
  background-color: #627bb952;
}
.hidden {
  display: none;
}

/* burger */

.menu__burger {
  list-style-type: none;
  position: absolute;
  display: none;
  top: 90px;
  left: 32px;
  transition: left 0.5s;
}
.menu__item__burger {
  background-color: #213b7e;
}
.menu_show {
  left: -150px;
}

/* 1205 */

@media (max-width: 1205px) {
  .header {
    padding-right: 32px;
    padding-left: 32px;
  }
  .content-students {
    margin-left: calc(50% - 736px / 2);
    margin-right: calc(50% - 736px / 2);
  }
}
/* Tablet */

@media (max-width: 1024px) {
  .menu {
    margin-left: 0;
  }
  .menu__link {
    font-size: 18px;
    padding: 20px 14px;
  }
  .content {
    margin-left: calc(50% - 736px / 2);
    margin-right: calc(50% - 736px / 2);
  }
  .content-section {
    width: 65%;
  }
  .content-info {
    align-items: center;
  }
  .content-about {
    margin-left: calc(50% - 736px / 2);
    margin-right: calc(50% - 736px / 2);
  }
  .content-contacts {
    margin-left: calc(50% - 736px / 2);
    margin-right: calc(50% - 736px / 2);
  }
  .content__item {
    margin-left: 0px;
  }
  iframe {
    width: 100%;
  }
}

/* Mobile */

@media (max-width: 767px) {
  .header {
    padding-right: 16px;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .logo {
    margin: 10px;
    position: relative;
  }
  .logo::after {
    content: 'М';
    box-sizing: border-box;
    width: 55px;
    height: 55px;
    position: absolute;
    top: 25px;
    right: -30px;
    font-family: "Roboto";
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    background: #213b7e;
    border: 5px #ea5d21 solid;
    padding: 2px 4px;
    z-index: 100;
    cursor: pointer;
    pointer-events: all;
  }
  .logo:hover::after {
    filter: drop-shadow(16px 16px 20px rgb(255, 255, 255));
  }
  .menu {
    display: none;
  }
  .menu__burger {
    display: none;
    list-style-type: none;
    position: absolute;
    display: block;
    z-index: 12;
  }
  .button {
    margin: 10px;
  }
  .menu__link {
    padding: 13px 18px;
  }
  .content {
    margin-left: calc(50% - 400px / 2);
    margin-right: calc(50% - 400px / 2);
  }
  .title {
    text-align: center;
  }
  .content-info {
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    text-align: center;
  }
  .content-section {
    width: 100%;
  }
  .content-students {
    margin-left: 16px;
    margin-right: 16px;
  }
  .students {
    justify-content: center;
  }
  .heading {
    padding-top: 0;
    padding-left: 0;
  }
  .content-about {
    margin-left: calc(50% - 400px / 2);
    margin-right: calc(50% - 400px / 2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .content-contacts {
    margin-left: calc(50% - 400px / 2);
    margin-right: calc(50% - 400px / 2);
  }
  .content__item {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 100%;
    height: 220px;
  }
  .address {
    text-align: center;
  }
  .modal {
    max-width: 340px;
  }
  .input {
    max-width: 300px;
  }
}

/* Mobile S*/

@media (max-width: 424px) {

  .content {
    margin-left: calc(50% - 320px / 2);
    margin-right: calc(50% - 320px / 2);
  }
  .content-about {
    margin-left: calc(50% - 320px / 2);
    margin-right: calc(50% - 320px / 2);
  }
  .content-contacts {
    margin-left: calc(50% - 320px / 2);
    margin-right: calc(50% - 320px / 2);
  }
}
